<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqq.mapper.StudentMapper">
    <update id="updateStu">
        update t_student set sname=#{sname},ssex=#{ssex},
        shobby=#{shobby} where id=#{id}

    </update>
    <delete id="delById">
        delete  from t_student where id=#{id}
    </delete>

    <select id="getStuById" resultType="com.zqq.pojo.Student">
        select * from t_student where id =#{sid}


    </select>
    <select id="getList" resultType="com.zqq.pojo.Student">
        select * from t_student

    </select>
    <select id="queryById" resultType="com.zqq.pojo.Student">
        select * from t_student where id=#{id}

    </select>
</mapper>